@model PizzaBox.Client.Models.AccountModel

<form action = "/account/login" method = "post">
  @Html.AntiForgeryToken()
  
  <label asp-for="@Model.Username">username</label>
  <input type ="text" asp-for="@Model.Username"/>
  @Html.ValidationMessageFor(avm => avm.Username)

  <label asp-for="@Model.Password">Password</label>
  <input type ="password" asp-for="@Model.Password"/>
  @Html.ValidationMessageFor(avm => avm.Password)
  
  <label asp-for="@Model.isUser">Customer?</label>
  @Html.CheckBoxFor(m => m.isUser)

  <button type = "reset">Clear</button>
  <button type="submit">Login</button>

</form>


<!------ Include the above in your HEAD tag ---------->

@* <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" asp-for="@Model.Username" placeholder="login">
      <input type="text" id="password" class="fadeIn third" asp-for="@Model.Password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div> *@